*{
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgba(255, 255, 255, 1);
}
main{
    padding: 20px 24px;
}
button{
    padding: 24px 12px;
    border-radius: 24px;
    font-size: 15px;
    line-height: 24px;
}
h4{
    font-size: 18px;
}
/*header config*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
}
/*section-1 config*/

#section-1{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
h1{
    font-size: 40px;
    letter-spacing: -1px;
}
#section-1 p,
#section-5 p{
    font-size: 18px;
    line-height: 28px;
}

/*section-2 config*/
#section-2 img{
    height: 309px;
    
}

/*section-3 config*/
#section-3 p,
#section-6 p{
    font-size: 16px;
    line-height: 24px;
}
#section-3 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#section-3 img{
    width: 40px;
    margin-right: 16px;
}
/*section-4 config*/
#section-4{
    width: 100%;
    background-color: black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}
#text-s-4{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#section-4 h2{
    font-size: 16px;
    line-height: 32px;
}
#section-4 p,
#section-4 li{
    font-size: 14px;
    line-height: 24px;
}

/*section 5 config*/

#section-5{
    padding: 30px 24px;
    overflow-x: auto;
    white-space: inherit;
}
#section-5 div{
    width: 327px;
    height: 344px;
    background-color: rgba(243, 243, 243, 1);
}
#section-5 h4{
    font-size: 16px;
} 

/*section 6 config*/

#section-6{
    background-image: url(Images/img-3.svg);
    height: 500px;
    color: white;
    padding: 0px 64px;
}
#section-6 div{
    position: relative;
    top: 134px;
    
}
#section-6 h2{
    font-size: 28px;
    line-height: 48px;
}



