/*variables*/
:root{
    --font-size-h4: 1rem;
    --font-size-button: 1rem;
    --font-size-p-large: clamp(1.12rem, 1.5vw, 1.1875rem);
    --font-size-p-medium: 1rem;/*16px*/
    --font-size-p-small: clamp(0.875rem, 1.5vw, 1rem);
    --font-size-h2: clamp(1.75rem, 3vw, 2.5rem);
}

*{
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 1);
}
main{
    padding: 20px 24px;
}
button{
    padding: 12px 24px;
    border-radius: 24px;
    font-size: var(--font-size-button);
    line-height: 24px;
    border: none;
}
h4{
    font-size: var(--font-size-h4);
}

/*header config*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
}

/*side bar config*/
#side-bar{
    position: absolute;
    left: -300vh;
    background-color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: all 0.7s;
    z-index: 200;
    
}
#side-bar li{
    text-align: left;
    list-style: none;
    margin: 30px 25px;
}
#checkbox:checked ~ #side-bar{
    left: 0; 
    transition: all 0.5s;
}
/*back to top config*/

#back-to-top{
    background-color: white;
    border-radius: 60px;
    z-index: 100;
    padding: 8px 3px;
    width: 40px;
    position: fixed;
    top: 80%;
    right: 5%;
}

/*section-1 config*/

#section-1{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
h1{
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 24px;
    font-weight: 900;
}
#section-1 p,
#section-5 p{
    font-size: var(--font-size-p-large);
    line-height: 28px;
    margin-bottom: 24px;
}
#section-1 button{
    margin-bottom: 24px;
}

/*section-2 config*/
#section-2 img{
   border-radius: 12px;
}
/*section-3 config*/
#section-3 p,
#section-6 p{
    font-size: var(--font-size-p-medium);
    line-height: 24px;
    margin-top: 11px;
}
#section-3 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
}
#section-3 img{
    width: 40px;
    margin-right: 16px;
}
/*section-4 config*/
#section-4{
    width: 100%;
    background-color: black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}
#section-4 img{
    border-radius: 12px;
}
section #text-s-4{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#section-4 h2{
    font-size: var(--font-size-p-medium);
    line-height: 32px;
    font-weight: 900;
}
#section-4 p,
#section-4 li{
    font-size: var(--font-size-p-small);
    line-height: 24px;
}

/*section 5 config*/

#section-5{
    padding: 30px 24px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#section-5 h4{
    font-size: var(--font-size-p-medium);
} 
/*reviews config*/
.reviews{
    flex: 0 0 auto;   
    width: 327px;
    height: 344px;
    background-color: rgba(243, 243, 243, 1);
    border: 1px solid black;
    padding: 24px;
    position: relative;
    
}
.reviews img{
    margin-bottom: 16px;
}
.reviews div,
.reviews div p,
.reviews div h4{
    text-align: left;
}
.reviews div p{
    font-size: var(--font-size-p-small);
}
.Second-div{
    position: absolute;
    top: 192px;
}
.icon-1{
    position: absolute;
    left: 231px;
    top: 112px;
}
.icon-2{
    position: absolute;
    left: 263px;
    top: 112px;
}
/*section 6 config*/

#section-6{
    background-image: url(Images/img-3-mobil.svg);
    height: 500px;
    color: white;
    padding: 0px 64px;
    background-size: cover;
    background-repeat: no-repeat;
}
#section-6 div{
    position: relative;
    top: 134px;
    
}
#section-6 h2{
    font-size: var(--font-size-h2);
    line-height: 48px;
    margin-bottom: 12px;
}

/*footer config*/

footer{
    background-color: black;
    color: white;
    padding: 50px 30px;
}
footer img{
    margin-bottom: 20px;
}
#footer-columns{
    display: flex;
    flex-direction: row;
    gap: 10px;
   justify-content: center;
   margin-bottom: 25px;
}
footer h4{
    margin-bottom   : 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
footer p{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}
#first-column{
    max-width: 99px;
}
/*Form config*/
#Form{
    background-color: black;
    color: white;
    min-height: 700px;
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 8rem repeat(10, 2.3rem);
    row-gap: 15px;
    padding: 25px;
    text-align: left;
}
#Form div,
#Form input,
#Form textarea{
    text-align: left;
    padding: 5px;
    border-radius: 8px;
    border: none;
}

#Form h1{
    grid-column: 2/4;
}
#name-label{
    grid-column: 1/2;
    grid-row: 2/3;
}
#name{
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    
}
#email-label{
    grid-column: 1/2;
    grid-row: 4/5;
}
#mail{
    grid-column: 1/4;
    grid-row: 5/6;
}
#message-label{
    grid-column: 1/3;
    grid-row: 6/7;
}
#Message{
    grid-column: 1/5;
    grid-row: 7/9;
    margin-right: 20px;
    margin-left: 20px;
}
#Form button{
    grid-column: 2/4;
    grid-row: 10/12;
    cursor: pointer;
}
